In [1]:
# the below code is from DAE course notebook, so it needs to be altered to avoid plagiarism

import numpy as np  # import auxiliary library, typical idiom
import pandas as pd  # import the Pandas library, typical idiom

In [2]:
from datetime import datetime
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

from numba import jit

In [3]:
# the below code is from DAE course notebook, so it needs to be altered to avoid plagiarism

from sklearn.linear_model import LinearRegression  # for linear regression
from sklearn.cluster import KMeans  # for clustering
from sklearn.tree import DecisionTreeClassifier  # for decision tree mining
from sklearn.metrics import mean_absolute_error, confusion_matrix, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
#from treeviz import tree_print  # to print decision tree

In [4]:
file_export = 'export2012.csv'

In [5]:
data = pd.read_csv(file_export)

In [6]:
data.head(10)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862

In [7]:
df = data.to_csv('data.csv') # allows to export the dataframe as a csv file

In [8]:
data.describe()

                case     AMOUNT_REQ   org:resource
count  190827.000000  190827.000000  190827.000000
mean   193851.453673   15438.929088    8271.081299
std     11688.517781   12315.133412    4700.713383
min    173688.000000       0.000000     112.000000
25%    183292.000000    6000.000000   10138.000000
50%    194242.000000   10500.000000   10913.000000
75%    203850.000000   20000.000000   11121.000000
max    214376.000000   99999.000000   11339.000000

In [9]:
data_sorted = data.sort_values(by=['case', 'event','completeTime'])

In [10]:
data_sorted.head(60)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862
20,173688,A_ACTIVATED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629
18,173688,A_APPROVED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112
17,173688,A_REGISTERED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112
19,173688,O_ACCEPTED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862
10,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862
14,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049
15,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112
11,173688,W_Nabellen offertes,2011/10/01 12:15:41.290,2011/10/01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862
12,173688,W_Nabellen offertes,2011/10/08 16:26:57.720,2011/10/08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913
13,173688,W_Nabellen offertes,2011/10/10 11:32:22.495,2011/10/10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049
16,173688,W_Valideren aanvraag,2011/10/13 10:05:26.925,2011/10/13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629
27,173691,A_ACCEPTED,2011/10/01 14:33:54.614,2011/10/01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862
50,173691,A_ACTIVATED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809
48,173691,A_APPROVED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809
28,173691,A_FINALIZED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112
49,173691,A_REGISTERED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112
47,173691,O_ACCEPTED,2011/10/10 14:17:26.306,2011/10/10 14:17:26.306,5000,2011/10/01 08:08:58.256,10809
36,173691,O_CANCELLED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120
30,173691,O_CREATED,2011/10/01 14:35:47.488,2011/10/01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862
37,173691,O_CREATED,2011/10/03 16:56:19.613,2011/10/03 16:56:19.613,5000,2011/10/01 08:08:58.256,11120
29,173691,O_SELECTED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862
35,173691,O_SELECTED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120
31,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862
32,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862
38,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120
39,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120
42,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049
43,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049
25,173691,W_Completeren aanvraag,2011/10/01 11:37:32.393,2011/10/01 11:43:13.178,5000,2011/10/01 08:08:58.256,112
26,173691,W_Completeren aanvraag,2011/10/01 14:27:57.775,2011/10/01 14:35:48.791,5000,2011/10/01 08:08:58.256,112
33,173691,W_Nabellen offertes,2011/10/01 14:36:13.443,2011/10/01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862
34,173691,W_Nabellen offertes,2011/10/03 16:54:43.257,2011/10/03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862
40,173691,W_Nabellen offertes,2011/10/03 16:56:34.792,2011/10/03 16:57:16.563,5000,2011/10/01 08:08:58.256,11120
41,173691,W_Nabellen offertes,2011/10/10 10:13:44.827,2011/10/10 10:14:45.514,5000,2011/10/01 08:08:58.256,11049
44,173691,W_Valideren aanvraag,2011/10/10 11:12:36.612,2011/10/10 11:30:54.893,5000,2011/10/01 08:08:58.256,10809
45,173691,W_Valideren aanvraag,2011/10/10 14:11:42.124,2011/10/10 14:14:13.394,5000,2011/10/01 08:08:58.256,10809
46,173691,W_Valideren aanvraag,2011/10/10 14:14:52.842,2011/10/10 14:17:34.633,5000,2011/10/01 08:08:58.256,10809
59,173694,A_ACCEPTED,2011/10/03 13:34:25.421,2011/10/03 13:34:25.421,7000,2011/10/01 08:10:30.287,11201
92,173694,A_ACTIVATED,2011/11/04 16:04:52.612,2011/11/04 16:04:52.612,7000,2011/10/01 08:10:30.287,10609
93,173694,A_ACTIVATED,2011/11/04 16:04:52.612,2011/11/04 16:04:52.612,7000,2011/10/01 08:10:30.287,10609
90,173694,A_APPROVED,2011/11/04 16:04:52.612,2011/11/04 16:04:52.612,7000,2011/10/01 08:10:30.287,10609
60,173694,A_FINALIZED,2011/10/03 13:40:14.632,2011/10/03 13:40:14.632,7000,2011/10/01 08:10:30.287,11201
52,173694,A_PARTLYSUBMITTED,2011/10/01 08:10:30.591,2011/10/01 08:10:30.591,7000,2011/10/01 08:10:30.287,112
53,173694,A_PREACCEPTED,2011/10/01 08:11:13.026,2011/10/01 08:11:13.026,7000,2011/10/01 08:10:30.287,112
54,173694,A_PREACCEPTED,2011/10/01 08:11:13.026,2011/10/01 08:11:13.026,7000,2011/10/01 08:10:30.287,112
91,173694,A_REGISTERED,2011/11/04 16:04:52.612,2011/11/04 16:04:52.612,7000,2011/10/01 08:10:30.287,10609

In [11]:
df = data.copy()

# convert to time format the string type time. This will allow to calculate the time duration of the task.
df["startTime"] = pd.to_datetime(df["startTime"])
df["completeTime"] = pd.to_datetime(df["completeTime"])
df["duration"] = df["completeTime"] - df["startTime"]
df

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,duration
0,173688,A_SUBMITTED,2011-10-01 00:38:44.546,2011-10-01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,00:00:00
1,173688,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880,2011-10-01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,00:00:00
2,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,00:00:00
3,173688,A_PREACCEPTED,2011-10-01 00:39:37.906,2011-10-01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,00:00:00
4,173688,W_Completeren aanvraag,2011-10-01 11:36:46.437,2011-10-01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,00:08:27.480000
...,...,...,...,...,...,...,...,...
190822,214376,A_SUBMITTED,2012-02-29 23:51:16.799,2012-02-29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,00:00:00
190823,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,00:00:00
190824,214376,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423,2012-02-29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,00:00:00
190825,214376,W_Afhandelen leads,2012-03-01 09:26:46.736,2012-03-01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,00:00:54.589000
190826,214376,A_DECLINED,2012-03-01 09:27:37.118,2012-03-01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,00:00:00

In [12]:
#datetime.strptime(data["completeTime"], '%Y-%m-%d')
#print(datetime)

In [13]:
data['startTime'] == data["completeTime"]

0          True
1          True
2          True
3          True
4         False
          ...
190822     True
190823     True
190824     True
190825    False
190826     True
Length: 190827, dtype: bool

The above shows that the startTime and completeTime are not always the same.

In [14]:
data_sorted2 = data.sort_values(by=['AMOUNT_REQ'])

In [15]:
data_sorted2

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource
91296,193378,W_Afhandelen leads,2011/12/14 09:19:24.585,2011/12/14 09:28:18.936,0,2011/12/13 21:29:24.105,11189
91300,193378,A_CANCELLED,2011/12/14 09:43:25.393,2011/12/14 09:43:25.393,0,2011/12/13 21:29:24.105,10779
91299,193378,W_Afhandelen leads,2011/12/14 09:43:25.385,2011/12/14 09:43:25.385,0,2011/12/13 21:29:24.105,11189
91298,193378,W_Afhandelen leads,2011/12/14 09:32:45.306,2011/12/14 09:35:13.883,0,2011/12/13 21:29:24.105,11189
91293,193378,A_SUBMITTED,2011/12/13 21:29:24.106,2011/12/13 21:29:24.106,0,2011/12/13 21:29:24.105,112
...,...,...,...,...,...,...,...
179483,211643,A_SUBMITTED,2012/02/22 08:07:14.767,2012/02/22 08:07:14.767,99999,2012/02/22 08:07:14.767,112
49046,183576,A_SUBMITTED,2011/11/09 19:47:51.883,2011/11/09 19:47:51.883,99999,2011/11/09 19:47:51.882,112
49048,183576,A_DECLINED,2011/11/09 19:47:54.236,2011/11/09 19:47:54.236,99999,2011/11/09 19:47:51.882,112
179486,211643,A_PREACCEPTED,2012/02/22 08:07:58.846,2012/02/22 08:07:58.846,99999,2012/02/22 08:07:14.767,112
49047,183576,A_PARTLYSUBMITTED,2011/11/09 19:47:52.149,2011/11/09 19:47:52.149,99999,2011/11/09 19:47:51.882,112

In [16]:
# data["next_task"] = calculator_nb(data)

data_iterrated = data.copy()
# for i in data_iterrated.iterrows():
#     if (i[0]+1 >= len(data)):
#         break
#     data["next_task"] = data.at[i[0]+1, 'case'] if (data.at[i[0] + 1, "case"] == i[1]["case"]) else 'null'

@jit(parallel = True)
def calculator_nb(case, event):
    res = np.empty(len(case), dtype=object)
    idx = 0
    for _ in case:
        # print(idx)
        if (idx+1 >= len(case)):
            break
       
        if (case[idx + 1] == case[idx]):
            res[idx] = event[idx + 1]
        # res[idx] = event[idx + 1]  if (case[idx + 1] != case[idx])
        # else:
        #     res[idx] = 0

        idx+=1
    return res


# print(data_iterrated['case'].array)
data_iterrated["next_task"] = calculator_nb(data_iterrated['case'].values, data_iterrated["event"].values)

<ipython-input-16-aaad0d85d9a0>:9: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "calculator_nb" failed type inference due to: Untyped global name 'object': cannot determine Numba type of <class 'type'>

File "<ipython-input-16-aaad0d85d9a0>", line 11:
def calculator_nb(case, event):
    res = np.empty(len(case), dtype=object)
    ^

  @jit(parallel = True)
<ipython-input-16-aaad0d85d9a0>:9: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "calculator_nb" failed type inference due to: Untyped global name 'object': cannot determine Numba type of <class 'type'>

File "<ipython-input-16-aaad0d85d9a0>", line 11:
def calculator_nb(case, event):
    res = np.empty(len(case), dtype=object)
    ^

  @jit(parallel = True)
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:178: NumbaWarning: Function "calculator_nb" was compiled in object mode without forceobj=True, but has lifted loops.

File "<ipython-input-16-aaad0d85d9a0>", line 11:
def calculator_nb(case, event):
    res = np.empty(len(case), dtype=object)
    ^

  state.func_ir.loc))
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:188: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "<ipython-input-16-aaad0d85d9a0>", line 11:
def calculator_nb(case, event):
    res = np.empty(len(case), dtype=object)
    ^

  state.func_ir.loc))
<ipython-input-16-aaad0d85d9a0>:9: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "calculator_nb" failed type inference due to: non-precise type pyobject
[1] During: typing of argument at <ipython-input-16-aaad0d85d9a0> (13)

File "<ipython-input-16-aaad0d85d9a0>", line 13:
def calculator_nb(case, event):
    <source elided>
    idx = 0
    for _ in case:
    ^

  @jit(parallel = True)
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:178: NumbaWarning: Function "calculator_nb" was compiled in object mode without forceobj=True.

File "<ipython-input-16-aaad0d85d9a0>", line 13:
def calculator_nb(case, event):
    <source elided>
    idx = 0
    for _ in case:
    ^

  state.func_ir.loc))
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:188: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "<ipython-input-16-aaad0d85d9a0>", line 13:
def calculator_nb(case, event):
    <source elided>
    idx = 0
    for _ in case:
    ^

  state.func_ir.loc))

In [17]:
data_iterrated.head(40)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,W_Completeren aanvraag
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,A_ACCEPTED
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,O_SELECTED
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,A_FINALIZED
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,O_CREATED
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862,O_SENT
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,O_SENT
10,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes
11,173688,W_Nabellen offertes,2011/10/01 12:15:41.290,2011/10/01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes
12,173688,W_Nabellen offertes,2011/10/08 16:26:57.720,2011/10/08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913,W_Nabellen offertes
13,173688,W_Nabellen offertes,2011/10/10 11:32:22.495,2011/10/10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK
14,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK
15,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,W_Valideren aanvraag
16,173688,W_Valideren aanvraag,2011/10/13 10:05:26.925,2011/10/13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629,A_REGISTERED
17,173688,A_REGISTERED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_APPROVED
18,173688,A_APPROVED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,O_ACCEPTED
19,173688,O_ACCEPTED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_ACTIVATED
20,173688,A_ACTIVATED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,None
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,A_PARTLYSUBMITTED
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag
25,173691,W_Completeren aanvraag,2011/10/01 11:37:32.393,2011/10/01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag
26,173691,W_Completeren aanvraag,2011/10/01 14:27:57.775,2011/10/01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,A_ACCEPTED
27,173691,A_ACCEPTED,2011/10/01 14:33:54.614,2011/10/01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,A_FINALIZED
28,173691,A_FINALIZED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_SELECTED
29,173691,O_SELECTED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_CREATED
30,173691,O_CREATED,2011/10/01 14:35:47.488,2011/10/01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,O_SENT
31,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,O_SENT
32,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes
33,173691,W_Nabellen offertes,2011/10/01 14:36:13.443,2011/10/01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes
34,173691,W_Nabellen offertes,2011/10/03 16:54:43.257,2011/10/03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,O_SELECTED
35,173691,O_SELECTED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CANCELLED
36,173691,O_CANCELLED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CREATED
37,173691,O_CREATED,2011/10/03 16:56:19.613,2011/10/03 16:56:19.613,5000,2011/10/01 08:08:58.256,11120,O_SENT
38,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,O_SENT
39,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,W_Nabellen offertes

In [18]:
data_iterrated.head()

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,W_Completeren aanvraag
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,A_ACCEPTED

In [19]:
list_of_events = data_iterrated["event"].unique()
event_to_num = {}
i=0
for event in list_of_events:
    event_to_num[str(event)] = i
    i += 1

In [20]:
event_to_num['None'] = 23

In [21]:
event_to_num

{'A_SUBMITTED': 0,
 'A_PARTLYSUBMITTED': 1,
 'A_PREACCEPTED': 2,
 'W_Completeren aanvraag': 3,
 'A_ACCEPTED': 4,
 'O_SELECTED': 5,
 'A_FINALIZED': 6,
 'O_CREATED': 7,
 'O_SENT': 8,
 'W_Nabellen offertes': 9,
 'O_SENT_BACK': 10,
 'W_Valideren aanvraag': 11,
 'A_REGISTERED': 12,
 'A_APPROVED': 13,
 'O_ACCEPTED': 14,
 'A_ACTIVATED': 15,
 'O_CANCELLED': 16,
 'A_DECLINED': 17,
 'A_CANCELLED': 18,
 'W_Afhandelen leads': 19,
 'O_DECLINED': 20,
 'W_Nabellen incomplete dossiers': 21,
 'W_Beoordelen fraude': 22,
 'None': 23}

In [22]:
data_iterrated_two = data_iterrated["event"].copy()
data_iterrated_two

0                    A_SUBMITTED
1              A_PARTLYSUBMITTED
2                  A_PREACCEPTED
3                  A_PREACCEPTED
4         W_Completeren aanvraag
                   ...
190822               A_SUBMITTED
190823         A_PARTLYSUBMITTED
190824         A_PARTLYSUBMITTED
190825        W_Afhandelen leads
190826                A_DECLINED
Name: event, Length: 190827, dtype: object

In [23]:
for i in range(len(data_iterrated_two)):
    data_iterrated_two[i] = event_to_num[data_iterrated_two[i]]

In [24]:
event_to_num

{'A_SUBMITTED': 0,
 'A_PARTLYSUBMITTED': 1,
 'A_PREACCEPTED': 2,
 'W_Completeren aanvraag': 3,
 'A_ACCEPTED': 4,
 'O_SELECTED': 5,
 'A_FINALIZED': 6,
 'O_CREATED': 7,
 'O_SENT': 8,
 'W_Nabellen offertes': 9,
 'O_SENT_BACK': 10,
 'W_Valideren aanvraag': 11,
 'A_REGISTERED': 12,
 'A_APPROVED': 13,
 'O_ACCEPTED': 14,
 'A_ACTIVATED': 15,
 'O_CANCELLED': 16,
 'A_DECLINED': 17,
 'A_CANCELLED': 18,
 'W_Afhandelen leads': 19,
 'O_DECLINED': 20,
 'W_Nabellen incomplete dossiers': 21,
 'W_Beoordelen fraude': 22,
 'None': 23}

In [25]:
next_task = data_iterrated["next_task"].copy()
for i in range(len(next_task)):
    #print(next_task[i])
    try:
        next_task[i] = event_to_num[next_task[i]]
    except:
        next_task[i] = 23

In [26]:
#data_iterrated_two["next_task"] = next_task
data_to_lr = data_iterrated.copy()
data_to_lr["event"] = data_iterrated_two
data_to_lr["next_task"] = next_task
data_to_lr

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task
0,173688,0,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,1
1,173688,1,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,2
2,173688,2,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,2
3,173688,2,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,3
4,173688,3,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,4
...,...,...,...,...,...,...,...,...
190822,214376,0,2012/02/29 23:51:16.799,2012/02/29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,1
190823,214376,1,2012/02/29 23:51:17.423,2012/02/29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,1
190824,214376,1,2012/02/29 23:51:17.423,2012/02/29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,19
190825,214376,19,2012/03/01 09:26:46.736,2012/03/01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,17
190826,214376,17,2012/03/01 09:27:37.118,2012/03/01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,23

In [27]:
x = data_to_lr[["event"]]
y = data_to_lr["next_task"]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
naive_predictor = LinearRegression()
naive_predictor.fit(X_train, y_train)
naive_predictor.score(X_test, y_test)
prediction = naive_predictor.predict(data_to_lr[["event"]]).round()

In [29]:
result_data = data_to_lr.copy()
result_data["prediction"] = prediction
result_data["prediction"] = result_data["prediction"].astype(int)

In [30]:
result_data

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task,prediction
0,173688,0,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,1,3
1,173688,1,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,2,4
2,173688,2,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,2,5
3,173688,2,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,3,5
4,173688,3,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,4,6
...,...,...,...,...,...,...,...,...,...
190822,214376,0,2012/02/29 23:51:16.799,2012/02/29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,1,3
190823,214376,1,2012/02/29 23:51:17.423,2012/02/29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,1,4
190824,214376,1,2012/02/29 23:51:17.423,2012/02/29 23:51:17.423,15000,2012/02/29 23:51:16.799,112,19,4
190825,214376,19,2012/03/01 09:26:46.736,2012/03/01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,17,18
190826,214376,17,2012/03/01 09:27:37.118,2012/03/01 09:27:37.118,15000,2012/02/29 23:51:16.799,11169,23,17

In [31]:
num_to_event = {v: k for k, v in event_to_num.items()}
num_to_event

{0: 'A_SUBMITTED',
 1: 'A_PARTLYSUBMITTED',
 2: 'A_PREACCEPTED',
 3: 'W_Completeren aanvraag',
 4: 'A_ACCEPTED',
 5: 'O_SELECTED',
 6: 'A_FINALIZED',
 7: 'O_CREATED',
 8: 'O_SENT',
 9: 'W_Nabellen offertes',
 10: 'O_SENT_BACK',
 11: 'W_Valideren aanvraag',
 12: 'A_REGISTERED',
 13: 'A_APPROVED',
 14: 'O_ACCEPTED',
 15: 'A_ACTIVATED',
 16: 'O_CANCELLED',
 17: 'A_DECLINED',
 18: 'A_CANCELLED',
 19: 'W_Afhandelen leads',
 20: 'O_DECLINED',
 21: 'W_Nabellen incomplete dossiers',
 22: 'W_Beoordelen fraude',
 23: 'None'}

In [32]:
predicted_event_str = result_data["prediction"].copy()
for i in range(len(predicted_event_str)):
    predicted_event_str[i] = num_to_event[predicted_event_str[i]]

In [33]:
predicted_event_str

0         W_Completeren aanvraag
1                     A_ACCEPTED
2                     O_SELECTED
3                     O_SELECTED
4                    A_FINALIZED
                   ...
190822    W_Completeren aanvraag
190823                A_ACCEPTED
190824                A_ACCEPTED
190825               A_CANCELLED
190826                A_DECLINED
Name: prediction, Length: 190827, dtype: object

In [34]:
result_data_str = data_iterrated.copy()
result_data_str["prediction"] = predicted_event_str

In [35]:
result_data_str["duration"] = pd.to_datetime(result_data_str["completeTime"]) - pd.to_datetime(result_data_str["startTime"])
result_data_str.head(40)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task,prediction,duration
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED,W_Completeren aanvraag,00:00:00
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED,A_ACCEPTED,00:00:00
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED,O_SELECTED,00:00:00
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,W_Completeren aanvraag,O_SELECTED,00:00:00
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,A_ACCEPTED,A_FINALIZED,00:08:27.480000
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,O_SELECTED,A_FINALIZED,00:00:00
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,A_FINALIZED,O_CREATED,00:00:00
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,O_CREATED,O_SENT,00:00:00
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862,O_SENT,W_Nabellen offertes,00:00:00
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,O_SENT,O_SENT_BACK,00:00:00
10,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes,O_SENT_BACK,00:00:00
11,173688,W_Nabellen offertes,2011/10/01 12:15:41.290,2011/10/01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes,O_SENT_BACK,00:01:27.634000
12,173688,W_Nabellen offertes,2011/10/08 16:26:57.720,2011/10/08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913,W_Nabellen offertes,O_SENT_BACK,00:05:03.166000
13,173688,W_Nabellen offertes,2011/10/10 11:32:22.495,2011/10/10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK,O_SENT_BACK,00:00:43.296000
14,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK,W_Valideren aanvraag,00:00:00
15,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,W_Valideren aanvraag,W_Valideren aanvraag,00:00:00
16,173688,W_Valideren aanvraag,2011/10/13 10:05:26.925,2011/10/13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629,A_REGISTERED,A_REGISTERED,00:32:10.101000
17,173688,A_REGISTERED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_APPROVED,A_APPROVED,00:00:00
18,173688,A_APPROVED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,O_ACCEPTED,A_APPROVED,00:00:00
19,173688,O_ACCEPTED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_ACTIVATED,O_ACCEPTED,00:00:00
20,173688,A_ACTIVATED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,None,A_ACTIVATED,00:00:00
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,A_PARTLYSUBMITTED,W_Completeren aanvraag,00:00:00
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED,A_ACCEPTED,00:00:00
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED,O_SELECTED,00:00:00
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag,O_SELECTED,00:00:00
25,173691,W_Completeren aanvraag,2011/10/01 11:37:32.393,2011/10/01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag,A_FINALIZED,00:05:40.785000
26,173691,W_Completeren aanvraag,2011/10/01 14:27:57.775,2011/10/01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,A_ACCEPTED,A_FINALIZED,00:07:51.016000
27,173691,A_ACCEPTED,2011/10/01 14:33:54.614,2011/10/01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,A_FINALIZED,A_FINALIZED,00:00:00
28,173691,A_FINALIZED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_SELECTED,O_SENT,00:00:00
29,173691,O_SELECTED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_CREATED,O_CREATED,00:00:00
30,173691,O_CREATED,2011/10/01 14:35:47.488,2011/10/01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,O_SENT,W_Nabellen offertes,00:00:00
31,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,O_SENT,O_SENT_BACK,00:00:00
32,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes,O_SENT_BACK,00:00:00
33,173691,W_Nabellen offertes,2011/10/01 14:36:13.443,2011/10/01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes,O_SENT_BACK,00:00:12.351000
34,173691,W_Nabellen offertes,2011/10/03 16:54:43.257,2011/10/03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,O_SELECTED,O_SENT_BACK,00:01:37.938000
35,173691,O_SELECTED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CANCELLED,O_CREATED,00:00:00
36,173691,O_CANCELLED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CREATED,O_CANCELLED,00:00:00
37,173691,O_CREATED,2011/10/03 16:56:19.613,2011/10/03 16:56:19.613,5000,2011/10/01 08:08:58.256,11120,O_SENT,W_Nabellen offertes,00:00:00
38,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,O_SENT,O_SENT_BACK,00:00:00
39,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,W_Nabellen offertes,O_SENT_BACK,00:00:00

In [36]:

# train = result_data_str[result_data_str.index <= len(result_data_str) / 1.2]
# y = train['duration']
# x = train[]
# ARMAmodel = SARIMAX(y, order = (1, 0, 1))


# test = result_data_str[result_data_str.index > len(result_data_str) / 1.2]

# ARMAmodel = ARMAmodel.fit()

# y_pred = ARMAmodel.get_forecast(len(test.index))
# y_pred_df = y_pred.conf_int()#alpha = 0.05) 
# y_pred_df["Predictions"] = ARMAmodel.predict(start = y_pred_df.index[0], end = y_pred_df.index[-1])
# y_pred_df.index = test.index
# y_pred_out = y_pred_df["Predictions"] 

events_count = result_data_str.groupby("event")['duration'].agg('count')
event_duration_sum = result_data_str.groupby("event")['duration'].agg('sum')

duration_per_event = event_duration_sum / events_count

# for i in range(len(result_data_str)):
#     print(result_data_str.at[i])# = duration_per_event[result_data_str[i]["event"]]

@jit(parallel = True)
def make_prediction(event, dict):
    res = np.empty(len(event), dtype=object)
    # idx = 0
    for idx,_ in enumerate(event):
        # print(idx)       
        res[idx] = dict[event[idx]]
        # res[idx] = event[idx + 1]  if (case[idx + 1] != case[idx])
        # else:
        #     res[idx] = 0

        # idx+=1
    return res

result_data_str["duration_prediction"] = make_prediction(result_data_str['event'].values, duration_per_event)

<ipython-input-36-076d1597ca51>:25: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "make_prediction" failed type inference due to: Untyped global name 'object': cannot determine Numba type of <class 'type'>

File "<ipython-input-36-076d1597ca51>", line 27:
def make_prediction(event, dict):
    res = np.empty(len(event), dtype=object)
    ^

  @jit(parallel = True)
<ipython-input-36-076d1597ca51>:25: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "make_prediction" failed type inference due to: Untyped global name 'object': cannot determine Numba type of <class 'type'>

File "<ipython-input-36-076d1597ca51>", line 27:
def make_prediction(event, dict):
    res = np.empty(len(event), dtype=object)
    ^

  @jit(parallel = True)
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:178: NumbaWarning: Function "make_prediction" was compiled in object mode without forceobj=True, but has lifted loops.

File "<ipython-input-36-076d1597ca51>", line 27:
def make_prediction(event, dict):
    res = np.empty(len(event), dtype=object)
    ^

  state.func_ir.loc))
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:188: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "<ipython-input-36-076d1597ca51>", line 27:
def make_prediction(event, dict):
    res = np.empty(len(event), dtype=object)
    ^

  state.func_ir.loc))
<ipython-input-36-076d1597ca51>:25: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "make_prediction" failed type inference due to: non-precise type pyobject
[1] During: typing of argument at <ipython-input-36-076d1597ca51> (29)

File "<ipython-input-36-076d1597ca51>", line 29:
def make_prediction(event, dict):
    <source elided>
    # idx = 0
    for idx,_ in enumerate(event):
    ^

  @jit(parallel = True)
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:178: NumbaWarning: Function "make_prediction" was compiled in object mode without forceobj=True.

File "<ipython-input-36-076d1597ca51>", line 29:
def make_prediction(event, dict):
    <source elided>
    # idx = 0
    for idx,_ in enumerate(event):
    ^

  state.func_ir.loc))
C:\ProgramData\Anaconda3\lib\site-packages\numba\object_mode_passes.py:188: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "<ipython-input-36-076d1597ca51>", line 29:
def make_prediction(event, dict):
    <source elided>
    # idx = 0
    for idx,_ in enumerate(event):
    ^

  state.func_ir.loc))

In [37]:
result_data_str[result_data_str["event"] == "W_Afhandelen leads"]

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task,prediction,duration,duration_prediction
110,173706,W_Afhandelen leads,2011/10/01 10:15:43.883,2011/10/01 10:16:49.843,18000,2011/10/01 09:45:37.274,10912,A_PREACCEPTED,A_CANCELLED,00:01:05.960000,00:16:52.801100
129,173712,W_Afhandelen leads,2011/10/01 10:08:36.700,2011/10/01 10:10:25.759,30000,2011/10/01 09:58:30.533,10912,A_PREACCEPTED,A_CANCELLED,00:01:49.059000,00:16:52.801100
234,173724,W_Afhandelen leads,2011/10/01 12:04:34.265,2011/10/01 12:12:27.600,15000,2011/10/01 11:52:14.305,10912,W_Afhandelen leads,A_CANCELLED,00:07:53.335000,00:16:52.801100
235,173724,W_Afhandelen leads,2011/10/01 12:19:56.702,2011/10/01 12:20:55.527,15000,2011/10/01 11:52:14.305,10939,A_PREACCEPTED,A_CANCELLED,00:00:58.825000,00:16:52.801100
299,173733,W_Afhandelen leads,2011/10/01 14:54:11.886,2011/10/01 14:54:56.346,6000,2011/10/01 12:39:34.037,10939,A_DECLINED,A_CANCELLED,00:00:44.460000,00:16:52.801100
...,...,...,...,...,...,...,...,...,...,...,...
190693,214343,W_Afhandelen leads,2012/03/01 09:23:33.283,2012/03/01 09:25:03.596,9400,2012/02/29 22:12:58.794,11169,A_DECLINED,A_CANCELLED,00:01:30.313000,00:16:52.801100
190708,214349,W_Afhandelen leads,2012/03/01 09:25:06.776,2012/03/01 09:25:37.085,50000,2012/02/29 22:33:12.182,11169,A_DECLINED,A_CANCELLED,00:00:30.309000,00:16:52.801100
190806,214370,W_Afhandelen leads,2012/03/01 09:25:39.409,2012/03/01 09:28:21.228,20000,2012/02/29 23:28:55.349,11169,A_DECLINED,A_CANCELLED,00:02:41.819000,00:16:52.801100
190811,214373,W_Afhandelen leads,2012/03/01 09:25:47.680,2012/03/01 09:27:52.388,8500,2012/02/29 23:43:09.766,11169,A_PREACCEPTED,A_CANCELLED,00:02:04.708000,00:16:52.801100
190825,214376,W_Afhandelen leads,2012/03/01 09:26:46.736,2012/03/01 09:27:41.325,15000,2012/02/29 23:51:16.799,11169,A_DECLINED,A_CANCELLED,00:00:54.589000,00:16:52.801100

The following code is a single-pass algorithm on training data that suggests the next activity for each position (most frequent activity)
- (not implemented yet) a single-pass algorithm on training data that suggests the time until the next activity for each position (average time until next activity)

In [38]:
df = data.copy()
df_grouped = df.groupby('event')

In [39]:
df_new = data_iterrated.copy()
df_new.head()

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,W_Completeren aanvraag
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,A_ACCEPTED

In [40]:
count = {}
# initialise the count dictionary with zeros, otherwise it does not work
for event in list_of_events:
    #for k in range( len(event_to_num) ):
        count[str(event)] = [0 for i in range(len(list_of_events))]
 

for event in list_of_events:
    for k in range(len(list_of_events)):
        count[str(event)][k] = df_new[ (df_new['event'] == event) & (df_new['next_task'] == list_of_events[k]) ].count()['event']
        
        #if df_new[ df_new['event'] == df_new['next_task'] ]:
            
count

{'A_SUBMITTED': [0,
  13087,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'A_PARTLYSUBMITTED': [0,
  4806,
  4852,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  3429,
  0,
  4739,
  0,
  0,
  67],
 'A_PREACCEPTED': [0,
  0,
  7367,
  7367,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'W_Completeren aanvraag': [0,
  0,
  0,
  16486,
  5113,
  28,
  19,
  0,
  0,
  7,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1088,
  1120,
  0,
  0,
  0,
  3],
 'A_ACCEPTED': [0,
  0,
  0,
  74,
  0,
  2879,
  2089,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  25,
  46,
  0,
  0,
  0,
  0],
 'O_SELECTED': [0,
  0,
  0,
  0,
  0,
  1,
  2907,
  3149,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  974,
  0,
  0,
  0,
  0,
  0,
  0],
 'A_FINALIZED': [0,
  0,
  0,
  0,
  0,
  2108,
  0,
  2907,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'O_CREATED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  7030,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'O_SENT': [0,
  0,
  0,
  3,
  0,
  0,
  0,
  0,
  7031,
  6621,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  396,
  0],
 'W_Nabellen offertes': [0,
  0,
  0,
  4,
  0,
  768,
  0,
  0,
  0,
  16280,
  3254,
  1,
  0,
  0,
  0,
  0,
  1554,
  27,
  788,
  0,
  21,
  0,
  0],
 'O_SENT_BACK': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  3455,
  3407,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0],
 'W_Valideren aanvraag': [0,
  0,
  0,
  0,
  0,
  107,
  0,
  0,
  0,
  0,
  0,
  4943,
  228,
  489,
  1136,
  198,
  111,
  320,
  13,
  0,
  348,
  1983,
  33],
 'A_REGISTERED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  581,
  332,
  670,
  0,
  0,
  0,
  0,
  0,
  1,
  0],
 'A_APPROVED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  682,
  0,
  474,
  789,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'O_ACCEPTED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  771,
  654,
  2,
  566,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'A_ACTIVATED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  1,
  546,
  478,
  192,
  5,
  0,
  0,
  0,
  0,
  0,
  1,
  0],
 'O_CANCELLED': [0,
  0,
  0,
  0,
  0,
  1041,
  0,
  974,
  0,
  33,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  767,
  0,
  0,
  0,
  0],
 'A_DECLINED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  383,
  0,
  0],
 'A_CANCELLED': [0,
  0,
  0,
  34,
  0,
  0,
  0,
  0,
  0,
  34,
  0,
  1,
  0,
  0,
  0,
  0,
  864,
  0,
  0,
  0,
  0,
  0,
  0],
 'W_Afhandelen leads': [0,
  0,
  2515,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  2234,
  1,
  1150,
  0,
  0,
  21],
 'O_DECLINED': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  419,
  0,
  0,
  0,
  0,
  0],
 'W_Nabellen incomplete dossiers': [0,
  0,
  0,
  0,
  0,
  99,
  0,
  0,
  0,
  0,
  200,
  1532,
  19,
  44,
  109,
  23,
  151,
  36,
  72,
  0,
  50,
  10562,
  0],
 'W_Beoordelen fraude': [0,
  0,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  33,
  0,
  0,
  0,
  0,
  0,
  57,
  0,
  32,
  0,
  0,
  213]}

In [41]:
count2 = count
index = {}
for event in list_of_events:
    max = 0
    for k in range( len(list_of_events)-1 ):
        if count2[event][k] > max:
            max = count2[event][k]
            #print(max)
            index2 = k;
    index[event] = index2
index
        
#for i in range( len(list_of_events) ):
 #   for k in range( len(list_of_events) ):
  #      count[str(list_of_events[i])][k] = 2
#count

{'A_SUBMITTED': 1,
 'A_PARTLYSUBMITTED': 2,
 'A_PREACCEPTED': 2,
 'W_Completeren aanvraag': 3,
 'A_ACCEPTED': 5,
 'O_SELECTED': 7,
 'A_FINALIZED': 7,
 'O_CREATED': 8,
 'O_SENT': 8,
 'W_Nabellen offertes': 9,
 'O_SENT_BACK': 10,
 'W_Valideren aanvraag': 11,
 'A_REGISTERED': 15,
 'A_APPROVED': 15,
 'O_ACCEPTED': 12,
 'A_ACTIVATED': 12,
 'O_CANCELLED': 5,
 'A_DECLINED': 20,
 'A_CANCELLED': 16,
 'W_Afhandelen leads': 2,
 'O_DECLINED': 17,
 'W_Nabellen incomplete dossiers': 21,
 'W_Beoordelen fraude': 17}

In [42]:
prediction = {}
for event in list_of_events:
    prediction[event] = list_of_events[index[event]]
    
prediction

{'A_SUBMITTED': 'A_PARTLYSUBMITTED',
 'A_PARTLYSUBMITTED': 'A_PREACCEPTED',
 'A_PREACCEPTED': 'A_PREACCEPTED',
 'W_Completeren aanvraag': 'W_Completeren aanvraag',
 'A_ACCEPTED': 'O_SELECTED',
 'O_SELECTED': 'O_CREATED',
 'A_FINALIZED': 'O_CREATED',
 'O_CREATED': 'O_SENT',
 'O_SENT': 'O_SENT',
 'W_Nabellen offertes': 'W_Nabellen offertes',
 'O_SENT_BACK': 'O_SENT_BACK',
 'W_Valideren aanvraag': 'W_Valideren aanvraag',
 'A_REGISTERED': 'A_ACTIVATED',
 'A_APPROVED': 'A_ACTIVATED',
 'O_ACCEPTED': 'A_REGISTERED',
 'A_ACTIVATED': 'A_REGISTERED',
 'O_CANCELLED': 'O_SELECTED',
 'A_DECLINED': 'O_DECLINED',
 'A_CANCELLED': 'O_CANCELLED',
 'W_Afhandelen leads': 'A_PREACCEPTED',
 'O_DECLINED': 'A_DECLINED',
 'W_Nabellen incomplete dossiers': 'W_Nabellen incomplete dossiers',
 'W_Beoordelen fraude': 'A_DECLINED'}

In [43]:
df_new2 = df_new.copy()
df_new2["predicted_event"] = ["" for i in df_new2["event"]]

In [44]:
df_new2['predicted_event'] = df_new2["event"].map(prediction)
df_new2.head(50)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task,predicted_event
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED,A_PREACCEPTED
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED,A_PREACCEPTED
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,W_Completeren aanvraag,A_PREACCEPTED
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,A_ACCEPTED,W_Completeren aanvraag
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,O_SELECTED,O_SELECTED
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,A_FINALIZED,O_CREATED
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,O_CREATED,O_CREATED
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862,O_SENT,O_SENT
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,O_SENT,O_SENT
10,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes,O_SENT
11,173688,W_Nabellen offertes,2011/10/01 12:15:41.290,2011/10/01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes,W_Nabellen offertes
12,173688,W_Nabellen offertes,2011/10/08 16:26:57.720,2011/10/08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913,W_Nabellen offertes,W_Nabellen offertes
13,173688,W_Nabellen offertes,2011/10/10 11:32:22.495,2011/10/10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK,W_Nabellen offertes
14,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK,O_SENT_BACK
15,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,W_Valideren aanvraag,O_SENT_BACK
16,173688,W_Valideren aanvraag,2011/10/13 10:05:26.925,2011/10/13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629,A_REGISTERED,W_Valideren aanvraag
17,173688,A_REGISTERED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_APPROVED,A_ACTIVATED
18,173688,A_APPROVED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,O_ACCEPTED,A_ACTIVATED
19,173688,O_ACCEPTED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_ACTIVATED,A_REGISTERED
20,173688,A_ACTIVATED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,None,A_REGISTERED
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED,A_PREACCEPTED
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED,A_PREACCEPTED
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag,A_PREACCEPTED
25,173691,W_Completeren aanvraag,2011/10/01 11:37:32.393,2011/10/01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag,W_Completeren aanvraag
26,173691,W_Completeren aanvraag,2011/10/01 14:27:57.775,2011/10/01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,A_ACCEPTED,W_Completeren aanvraag
27,173691,A_ACCEPTED,2011/10/01 14:33:54.614,2011/10/01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,A_FINALIZED,O_SELECTED
28,173691,A_FINALIZED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_SELECTED,O_CREATED
29,173691,O_SELECTED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_CREATED,O_CREATED
30,173691,O_CREATED,2011/10/01 14:35:47.488,2011/10/01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,O_SENT,O_SENT
31,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,O_SENT,O_SENT
32,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes,O_SENT
33,173691,W_Nabellen offertes,2011/10/01 14:36:13.443,2011/10/01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes,W_Nabellen offertes
34,173691,W_Nabellen offertes,2011/10/03 16:54:43.257,2011/10/03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,O_SELECTED,W_Nabellen offertes
35,173691,O_SELECTED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CANCELLED,O_CREATED
36,173691,O_CANCELLED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CREATED,O_SELECTED
37,173691,O_CREATED,2011/10/03 16:56:19.613,2011/10/03 16:56:19.613,5000,2011/10/01 08:08:58.256,11120,O_SENT,O_SENT
38,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,O_SENT,O_SENT
39,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,W_Nabellen offertes,O_SENT
40,173691,W_Nabellen offertes,2011/10/03 16:56:34.792,2011/10/03 16:57:16.563,5000,2011/10/01 08:08:58.256,11120,W_Nabellen offertes,W_Nabellen offertes
41,173691,W_Nabellen offertes,2011/10/10 10:13:44.827,2011/10/10 10:14:45.514,5000,2011/10/01 08:08:58.256,11049,O_SENT_BACK,W_Nabellen offertes
42,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049,O_SENT_BACK,O_SENT_BACK
43,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049,W_Valideren aanvraag,O_SENT_BACK
44,173691,W_Valideren aanvraag,2011/10/10 11:12:36.612,2011/10/10 11:30:54.893,5000,2011/10/01 08:08:58.256,10809,W_Valideren aanvraag,W_Valideren aanvraag
45,173691,W_Valideren aanvraag,2011/10/10 14:11:42.124,2011/10/10 14:14:13.394,5000,2011/10/01 08:08:58.256,10809,W_Valideren aanvraag,W_Valideren aanvraag
46,173691,W_Valideren aanvraag,2011/10/10 14:14:52.842,2011/10/10 14:17:34.633,5000,2011/10/01 08:08:58.256,10809,O_ACCEPTED,W_Valideren aanvraag
47,173691,O_ACCEPTED,2011/10/10 14:17:26.306,2011/10/10 14:17:26.306,5000,2011/10/01 08:08:58.256,10809,A_APPROVED,A_REGISTERED
48,173691,A_APPROVED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,A_REGISTERED,A_ACTIVATED
49,173691,A_REGISTERED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,A_ACTIVATED,A_ACTIVATED

In [45]:
correct = 0
for i in range(len(df_new2["event"])-1):
    if df_new2["predicted_event"][i] == df_new2["event"][i+1]:
        correct = correct+1
accuracy_event = correct/len(df_new2["event"]) * 100

In [46]:
print(accuracy_event)

56.63925964355149

The end of the algorithm for the average event/activity prediction.

The following code predicts the time between the activities (basing on most frequent occurance of the activities. In other words, for each A_ACCEPTED event, the predicted average time until the next A_ACCEPTED event is shown. 
I am not sure if the correct time is predicted, since after I reviewed the results, they were quite off and I don't know how to perform error analysis here.

In [47]:
df_new3 = df_new2.copy()
df_new3["predicted_time"] = ["" for i in df_new3["event"]]
#df_new3

In [48]:
df_dummy = df_new3.copy()

In [49]:
df_dummy = df_dummy.sort_values(by=['event', 'predicted_event','startTime'])

The following code may take a few minutes to run (needs to be optimized). There is an anmaly for 'W_Completeren aanvraag', since its average time occurance is negative. I am not sure why, but may be taking absolute value of it can solve it.

In [50]:
prediction_time = {}
for event in list_of_events:
    df_dummy2 = df_dummy[ df_dummy["event"] == event ].copy().reset_index()
    #dummy = [0 for i in range(len(df_dummy2["startTime"]))]
    dummy = [0 for i in range(len(df_dummy2["startTime"]))]
    #print(len(df_dummy2["startTime"]))
    for k in range(len(df_dummy2["startTime"])-1):
        dummy[k] = pd.to_datetime(df_dummy2["startTime"].iloc[k+1]) - pd.to_datetime(df_dummy2["completeTime"].iloc[k])
    total = dummy[0]
    for i in range(1, len(dummy)-1):
        total = total + dummy[i]
    average = total / (len(dummy)-1)
    prediction_time[event] = average    
    
#df_dummy['predicted_time'] = df_dummy["event"].map(prediction_time)
    #df_dummy[ df_dummy["event"] == event ]["predicted_time"] = df_dummy2["predicted_time"].iloc[0] 
    
prediction_time    
    #df_dummy2["event"].map(df_dummy["event"])

{'A_SUBMITTED': Timedelta('0 days 00:16:43.358723'),
 'A_PARTLYSUBMITTED': Timedelta('0 days 00:12:13.844877'),
 'A_PREACCEPTED': Timedelta('0 days 00:14:54.598290'),
 'W_Completeren aanvraag': Timedelta('-1 days +23:59:54.693528'),
 'A_ACCEPTED': Timedelta('0 days 00:46:29.024153'),
 'O_SELECTED': Timedelta('0 days 00:33:50.494681'),
 'A_FINALIZED': Timedelta('0 days 00:47:23.535184'),
 'O_CREATED': Timedelta('0 days 00:33:50.783460'),
 'O_SENT': Timedelta('0 days 00:16:55.247293'),
 'W_Nabellen offertes': Timedelta('0 days 00:01:16.388577'),
 'O_SENT_BACK': Timedelta('0 days 00:33:59.967919'),
 'W_Valideren aanvraag': Timedelta('0 days 00:02:36.778794'),
 'A_REGISTERED': Timedelta('0 days 01:44:34.400902'),
 'A_APPROVED': Timedelta('0 days 01:44:34.400902'),
 'O_ACCEPTED': Timedelta('0 days 01:44:37.196981'),
 'A_ACTIVATED': Timedelta('0 days 01:44:20.457789'),
 'O_CANCELLED': Timedelta('0 days 01:05:06.471105'),
 'A_DECLINED': Timedelta('0 days 00:31:10.803869'),
 'A_CANCELLED': Timedelta('0 days 01:24:43.719351'),
 'W_Afhandelen leads': Timedelta('0 days 00:20:07.632392'),
 'O_DECLINED': Timedelta('0 days 04:52:55.735113'),
 'W_Nabellen incomplete dossiers': Timedelta('0 days 00:06:32.509123'),
 'W_Beoordelen fraude': Timedelta('0 days 11:31:23.878913')}

In [51]:
#prediction_time = {"A_ACCEPTED":5}
#df_dummy['predicted_time'] = df_dummy["event"].map(prediction_time)
#df_dummy[ df_dummy['event']=="A_ACCEPTED" ].head(50)

df_new3['predicted_time'] = df_new3["event"].map(prediction_time)
#df_dummy3 = df_dummy[df_dummy["event"] == "A_ACCEPTED"]["predicted_time"] = 43
#df_dummy[ df_dummy["event"] == "A_ACCEPTED" ]

In [52]:
df_new3.head(50)

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task,predicted_event,predicted_time
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
1,173688,A_PARTLYSUBMITTED,2011/10/01 00:38:44.880,2011/10/01 00:38:44.880,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED,A_PREACCEPTED,00:12:13.844877
2,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,A_PREACCEPTED,A_PREACCEPTED,00:14:54.598290
3,173688,A_PREACCEPTED,2011/10/01 00:39:37.906,2011/10/01 00:39:37.906,20000,2011/10/01 00:38:44.546,112,W_Completeren aanvraag,A_PREACCEPTED,00:14:54.598290
4,173688,W_Completeren aanvraag,2011/10/01 11:36:46.437,2011/10/01 11:45:13.917,20000,2011/10/01 00:38:44.546,112,A_ACCEPTED,W_Completeren aanvraag,-1 days +23:59:54.693528
5,173688,A_ACCEPTED,2011/10/01 11:42:43.308,2011/10/01 11:42:43.308,20000,2011/10/01 00:38:44.546,10862,O_SELECTED,O_SELECTED,00:46:29.024153
6,173688,O_SELECTED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,A_FINALIZED,O_CREATED,00:33:50.494681
7,173688,A_FINALIZED,2011/10/01 11:45:09.243,2011/10/01 11:45:09.243,20000,2011/10/01 00:38:44.546,10862,O_CREATED,O_CREATED,00:47:23.535184
8,173688,O_CREATED,2011/10/01 11:45:11.197,2011/10/01 11:45:11.197,20000,2011/10/01 00:38:44.546,10862,O_SENT,O_SENT,00:33:50.783460
9,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,O_SENT,O_SENT,00:16:55.247293
10,173688,O_SENT,2011/10/01 11:45:11.380,2011/10/01 11:45:11.380,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes,O_SENT,00:16:55.247293
11,173688,W_Nabellen offertes,2011/10/01 12:15:41.290,2011/10/01 12:17:08.924,20000,2011/10/01 00:38:44.546,10862,W_Nabellen offertes,W_Nabellen offertes,00:01:16.388577
12,173688,W_Nabellen offertes,2011/10/08 16:26:57.720,2011/10/08 16:32:00.886,20000,2011/10/01 00:38:44.546,10913,W_Nabellen offertes,W_Nabellen offertes,00:01:16.388577
13,173688,W_Nabellen offertes,2011/10/10 11:32:22.495,2011/10/10 11:33:05.791,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK,W_Nabellen offertes,00:01:16.388577
14,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,O_SENT_BACK,O_SENT_BACK,00:33:59.967919
15,173688,O_SENT_BACK,2011/10/10 11:33:03.668,2011/10/10 11:33:03.668,20000,2011/10/01 00:38:44.546,11049,W_Valideren aanvraag,O_SENT_BACK,00:33:59.967919
16,173688,W_Valideren aanvraag,2011/10/13 10:05:26.925,2011/10/13 10:37:37.026,20000,2011/10/01 00:38:44.546,10629,A_REGISTERED,W_Valideren aanvraag,00:02:36.778794
17,173688,A_REGISTERED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_APPROVED,A_ACTIVATED,01:44:34.400902
18,173688,A_APPROVED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,O_ACCEPTED,A_ACTIVATED,01:44:34.400902
19,173688,O_ACCEPTED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,A_ACTIVATED,A_REGISTERED,01:44:37.196981
20,173688,A_ACTIVATED,2011/10/13 10:37:29.226,2011/10/13 10:37:29.226,20000,2011/10/01 00:38:44.546,10629,None,A_REGISTERED,01:44:20.457789
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED,A_PREACCEPTED,00:12:13.844877
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,A_PREACCEPTED,A_PREACCEPTED,00:14:54.598290
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag,A_PREACCEPTED,00:14:54.598290
25,173691,W_Completeren aanvraag,2011/10/01 11:37:32.393,2011/10/01 11:43:13.178,5000,2011/10/01 08:08:58.256,112,W_Completeren aanvraag,W_Completeren aanvraag,-1 days +23:59:54.693528
26,173691,W_Completeren aanvraag,2011/10/01 14:27:57.775,2011/10/01 14:35:48.791,5000,2011/10/01 08:08:58.256,112,A_ACCEPTED,W_Completeren aanvraag,-1 days +23:59:54.693528
27,173691,A_ACCEPTED,2011/10/01 14:33:54.614,2011/10/01 14:33:54.614,5000,2011/10/01 08:08:58.256,10862,A_FINALIZED,O_SELECTED,00:46:29.024153
28,173691,A_FINALIZED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_SELECTED,O_CREATED,00:47:23.535184
29,173691,O_SELECTED,2011/10/01 14:35:46.016,2011/10/01 14:35:46.016,5000,2011/10/01 08:08:58.256,10862,O_CREATED,O_CREATED,00:33:50.494681
30,173691,O_CREATED,2011/10/01 14:35:47.488,2011/10/01 14:35:47.488,5000,2011/10/01 08:08:58.256,10862,O_SENT,O_SENT,00:33:50.783460
31,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,O_SENT,O_SENT,00:16:55.247293
32,173691,O_SENT,2011/10/01 14:35:47.583,2011/10/01 14:35:47.583,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes,O_SENT,00:16:55.247293
33,173691,W_Nabellen offertes,2011/10/01 14:36:13.443,2011/10/01 14:36:25.794,5000,2011/10/01 08:08:58.256,10862,W_Nabellen offertes,W_Nabellen offertes,00:01:16.388577
34,173691,W_Nabellen offertes,2011/10/03 16:54:43.257,2011/10/03 16:56:21.195,5000,2011/10/01 08:08:58.256,10862,O_SELECTED,W_Nabellen offertes,00:01:16.388577
35,173691,O_SELECTED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CANCELLED,O_CREATED,00:33:50.494681
36,173691,O_CANCELLED,2011/10/03 16:56:17.731,2011/10/03 16:56:17.731,5000,2011/10/01 08:08:58.256,11120,O_CREATED,O_SELECTED,01:05:06.471105
37,173691,O_CREATED,2011/10/03 16:56:19.613,2011/10/03 16:56:19.613,5000,2011/10/01 08:08:58.256,11120,O_SENT,O_SENT,00:33:50.783460
38,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,O_SENT,O_SENT,00:16:55.247293
39,173691,O_SENT,2011/10/03 16:56:19.645,2011/10/03 16:56:19.645,5000,2011/10/01 08:08:58.256,11120,W_Nabellen offertes,O_SENT,00:16:55.247293
40,173691,W_Nabellen offertes,2011/10/03 16:56:34.792,2011/10/03 16:57:16.563,5000,2011/10/01 08:08:58.256,11120,W_Nabellen offertes,W_Nabellen offertes,00:01:16.388577
41,173691,W_Nabellen offertes,2011/10/10 10:13:44.827,2011/10/10 10:14:45.514,5000,2011/10/01 08:08:58.256,11049,O_SENT_BACK,W_Nabellen offertes,00:01:16.388577
42,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049,O_SENT_BACK,O_SENT_BACK,00:33:59.967919
43,173691,O_SENT_BACK,2011/10/10 10:14:43.775,2011/10/10 10:14:43.775,5000,2011/10/01 08:08:58.256,11049,W_Valideren aanvraag,O_SENT_BACK,00:33:59.967919
44,173691,W_Valideren aanvraag,2011/10/10 11:12:36.612,2011/10/10 11:30:54.893,5000,2011/10/01 08:08:58.256,10809,W_Valideren aanvraag,W_Valideren aanvraag,00:02:36.778794
45,173691,W_Valideren aanvraag,2011/10/10 14:11:42.124,2011/10/10 14:14:13.394,5000,2011/10/01 08:08:58.256,10809,W_Valideren aanvraag,W_Valideren aanvraag,00:02:36.778794
46,173691,W_Valideren aanvraag,2011/10/10 14:14:52.842,2011/10/10 14:17:34.633,5000,2011/10/01 08:08:58.256,10809,O_ACCEPTED,W_Valideren aanvraag,00:02:36.778794
47,173691,O_ACCEPTED,2011/10/10 14:17:26.306,2011/10/10 14:17:26.306,5000,2011/10/01 08:08:58.256,10809,A_APPROVED,A_REGISTERED,01:44:37.196981
48,173691,A_APPROVED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,A_REGISTERED,A_ACTIVATED,01:44:34.400902
49,173691,A_REGISTERED,2011/10/10 14:17:26.307,2011/10/10 14:17:26.307,5000,2011/10/01 08:08:58.256,10809,A_ACTIVATED,A_ACTIVATED,01:44:34.400902

In [53]:
df_new3[df_new3["event"] == 'A_SUBMITTED'].sort_values("startTime")

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource,next_task,predicted_event,predicted_time
0,173688,A_SUBMITTED,2011/10/01 00:38:44.546,2011/10/01 00:38:44.546,20000,2011/10/01 00:38:44.546,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
51,173694,A_SUBMITTED,2011/10/01 08:10:30.287,2011/10/01 08:10:30.287,7000,2011/10/01 08:10:30.287,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
94,173697,A_SUBMITTED,2011/10/01 08:11:08.866,2011/10/01 08:11:08.866,15000,2011/10/01 08:11:08.865,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
97,173700,A_SUBMITTED,2011/10/01 08:15:39.894,2011/10/01 08:15:39.894,5000,2011/10/01 08:15:39.894,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
...,...,...,...,...,...,...,...,...,...,...
190777,214364,A_SUBMITTED,2012/02/29 23:22:24.570,2012/02/29 23:22:24.570,5000,2012/02/29 23:22:24.570,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
190800,214367,A_SUBMITTED,2012/02/29 23:28:41.098,2012/02/29 23:28:41.098,500,2012/02/29 23:28:41.098,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
190803,214370,A_SUBMITTED,2012/02/29 23:28:55.349,2012/02/29 23:28:55.349,20000,2012/02/29 23:28:55.349,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
190808,214373,A_SUBMITTED,2012/02/29 23:43:09.766,2012/02/29 23:43:09.766,8500,2012/02/29 23:43:09.766,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723
190822,214376,A_SUBMITTED,2012/02/29 23:51:16.799,2012/02/29 23:51:16.799,15000,2012/02/29 23:51:16.799,112,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED,00:16:43.358723